<div id="reser-header">
<button style="background-color:#ABBF63; border-color: #ABBF63; color:white;" id="btn-sup-select" ><i style="padding: 0 16px 0 16px;" class="fas fa-check"></i></button>
<button style="background-color:#ABBF63; border-color: #ABBF63; color:white;" id="btn-sup-check" ><i style="padding: 0 16px 0 16px;" class="fas fa-check"></i></button>
<button id="btn-sup-book">3. Book</button>
</div>


<section style="display: flex; justify-content:center;">
<h4 id="msgError" style="color:rgb(255, 50, 50)" >{{msg}}</h4>
</section>



<section class="section-bookView">

<form id="form-select-room" action="/reservation/book" method="POST">

            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input name="checkConditions" type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Accept <a href="/conditions">Terms and Conditions</a></label>
            </div>

            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="byPaypal" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="byPaypal">Paypal</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="arrive" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="arrive">At arrive</label>
              </div>
            </div>  
            <hr class="mb-4">
            
<section style="display: flex; justify-content:center;">
<div id="paypal-button-container" style="width: 350px;"></div>

</section>


<div id="div-btn-continue">
<input value="CONTINUE"id="btn-contiune" type="submit" class="btn btn-outline-secondary">
</div>



<input type="hidden" name="days" value="{{days}}">
<input type="hidden" name="adults" value={{adults}}>
<input type="hidden" name="children" value={{children}}>
<input type="hidden" name="room" value={{room}}>
<input type="hidden" name="startDate" value={{startDate}}>
<input type="hidden" name="endDate" value={{endDate}}>
<input id="digitalPay" type="hidden" name="perTotal" value={{perTotal}}>
<input id="digitalPayCheck" type="hidden" name="digitalPayCheck">


</form>

</section>


<section id="select-footer">
  <p>© 2020 BOKANE ECOTURISM & RESORTS. ALL RIGHTS RESERVED - <a href="">TERMS & CONDITIONS</a></p>
</section>



<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=MXN" data-sdk-integration-source="button-factory"></script>
<script>
    paypal.Buttons({
        style: {
            shape: 'pill',
            color: 'gold',
            layout: 'vertical',
            label: 'checkout',
            
        },
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: document.getElementById('digitalPay').value
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                document.getElementById('digitalPayCheck').value=true;//Revisa si el pago se hizo a travez de PAYPAL
            });
        }
    }).render('#paypal-button-container');
</script>
